.fieldWithHead {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 140px;
}

.fieldWithHead__header {
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 18px;
  color:#A0B0B9;
}

.fieldWithHead__field {
  color: #4A4A4A;
  font-size: 14px;
  line-height: 21px;
}
